{{ ansible_eth1.ipv4.address }}	{{ansible_hostname}} {{ansible_fqdn}}
{{ ansible_eth0.ipv4.address }}	{{ansible_hostname}} {{ansible_fqdn}}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.50.10  ansible1  ansible1